/* 图片模糊，鼠标悬停查看 */
.image {
  filter: blur(5px) contrast(105%) brightness(95%);
  transform: rotate(-3deg);
  width: 40% !important;
  height: auto !important;
  padding: 8px 8px;
  transition: padding 0.7s ease, filter 1.0s ease, transform 1.2s ease, border 1.0s ease, width 0.3s ease;
}

.image:hover {
  filter: blur(0);
  width: 75% !important;
  transform: rotate(0deg);
  border: 4px solid rgba(255, 102, 0, 0.5);
  padding: 0px 0px;
}

/* 包含图片消息背景透明 By lamprose*/
.ml-list .message-content__wrapper .container--others:has(.message-content .image-content){
  background-color:transparent !important;
}
